{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}


{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image:  url('{{ asset('img/post-bg.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.description }}</h2>
                        <span class="meta">
                {% if date(post.createdat) < date() %}Opublikował{% else %}Zostanie opublikowany przez{% endif %} {% if post.user %}{{ post.user }}{% else %}anonim{% endif %} dnia: {{ post.createdAt|date('d/m/Y H:i ') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>{{ post.content }}</p>


                    <h2 class="section-heading">{{ post.header2 }}</h2>

                    <p>{{ post.content2 }}</p>


                    <h2 class="section-heading">{{ post.header3 }}</h2>

                    <p>{{ post.content3 }}</p>

                    <img class="img-fluid" src="{{ asset('img/'~post.img)}}" alt="">




                    <span class="caption text-muted">{{ post.imgdesc }}</span>

                    <p>{{ post.content4 }}</p>


                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Komentarze -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h3>Komentarze</h3>
                    {% if app.user == null %}
                    <p>Domyślnie komentarze są dodawane anonimowo, aby dodać komentarz jawnie <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a></p>
                    {% endif %}
                    {{ form_start(form) }}

                        {{ form_widget(form) }}

                    <div class="form-group">
                        <button  class="btn btn-primary pull-right">Dodaj komentarz</button>
                    </div>


                    {{ form_end(form) }}



                    {% for comment in post.comments %}

                        <div>
                            <span>Komentarz dodany przez: {% if comment.user %}{{ comment.user }}{% else %}anonim{% endif %}</span>
                            <p>{{ comment.content }}</p>
                            <span>Dodany: {{ comment.createdAt|date('d/m/Y H:i ') }}</span>
                        </div>
                        <hr>
                    {% endfor %}


                </div>
            </div>
        </div>

    <hr>

{% endblock %}


